<h1>Saved cities</h1>
<table>
<th>ID</th>
<th>City</th>
<th>Modifier</th>
each city in Contenu
    <tr><td>#{city.id}</td><td>#{city.name}</td><td><a href="/city/#{city.id}">Modify</a></td></tr>
</table>